<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Knyga</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
	<div th:insert="fragments/navigation.html :: nav"></div>
	<h1 class="text-center"><b>Knygos duomenys</b></h1>
	<div class="container">
		<div class="row">
			<div class="col-md-12 mt-5">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<a href="/book/new" class="btn btn-info">Pridėti naują knygą</a>
						<table class="table">
						  <tr>
						  	<th>Knygos pavadinimas</th>
						  	<th>Knygos autorius</th>
						  	<th>Knygos žanras</th>
						  	<th>Publikavimo duomenys</th>
						  	<th>Likutis bibliotekoje</th>
						  	<th>Aprašymas</th>
						  	<th>Veiksmai</th>
						  </tr>
						  
						  <tr th:each="book: ${books}">
						  	<td th:text="${book.name}"></td>
						  	<td th:text="${book.author}"></td>
						  	<td th:text="${book.genre}"></td>
						  	<td th:text="${book.publication_details}"></td>
						  	<td th:text="${book.places}"></td>
						  	<td>
						  			<a th:href="'/book/description/'+${book.id}" class="btn btn-success">Parsiųsti</a>
						  	</td>
						  	<td style="width: 200px;">
						  		<a th:href="'/book/update/'+${book.id}" class="btn btn-success">Redaguoti</a>
						  		<a th:href="'/book/delete/'+${book.id}"  class="btn btn-danger">Ištrinti</a>
						 						 		
						  	</td>
						  
						  </tr>
						
						</table>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
<style>
h1{
	color: black;
}
body{
	background-image: url('/image/fonas7.jpg');
	background-size: 100% 100%;
  	height: 106vh;
}
</style>